/* 
PALETTE
https://coolors.co/30343f-95979f-fafaff-e4d9ff-8687b4-273469-1e2749

CSS HEX
--gunmetal: #30343fff;
--taupe-gray: #95979fff;
--ghost-white: #fafaffff;
--periwinkle: #e4d9ffff;
--cool-gray: #8687b4ff;
--delft-blue: #273469ff;
--space-cadet: #1e2749ff;

CSS HSL 
--gunmetal: hsla(224, 14%, 22%, 1);
--taupe-gray: hsla(228, 5%, 60%, 1);
--ghost-white: hsla(240, 100%, 99%, 1);
--periwinkle: hsla(257, 100%, 93%, 1);
--cool-gray: hsla(239, 23%, 62%, 1);
--delft-blue: hsla(228, 46%, 28%, 1);
--space-cadet: hsla(227, 42%, 20%, 1);
*/
html{
    background-color: #e4d9ff;
}
body{
    margin: 0;
    background-color: #e4d9ff;
}

.BrowserRouterNav ul{
    display: none;
}