
.footer{
    display: flex;
    background-color: #30343fff;

}

.divfooter{
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #fafaff;
    
}

.divfooter a{
    color: #fafaff;
    text-decoration: none;
}

.contattifootertitolo{
    font-family: "Orbitron", sans-serif
}

.footercontattiicona{
    width: 30%;
}