.footerfooter {
padding: 2%;
  background-color: #30343fff;
  color: #fafaff;
}

.footerfooter a {
  color: #fafaff;
  text-decoration: none;
}

.footerfooter a:hover {
  color: #e4d9ff;
  text-decoration: none;
}

.titoletto {
  font-family: "Orbitron", sans-serif;
}

