.maincontainerwrapper {
  background-color: #e4d9ff;
}

.maincontainerelement {
    color: #30343f;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
  }

/* css aperture */
.maincontaineraperture {
  display: flex;
  justify-content: space-between;
  background-color: #273469;
  color: #fafaff;
}

.Apertura {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Apertura:hover {
  background-color: #1e2749;
}

.aperturatitolo {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.prenotaunavisita ul {
  /**/
}

.aperturaprenota a {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fafaff;
}

.aperturaprenota a:hover {
  color: #fafaff;
}

/* css mappa */

.mappa {
  height: 400px;
}


/* css calendario */

/*css sezioni*/

.mainpagesection {
  display: flex;
}

.mainpageindicazionitestuali {
  display: flex;
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}

.mainpagetitolosezione {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

.googleelement {
  position: relative;
  width: 50%;
  height: auto;
}

.littleicon{
    display: flex;
    padding-right: 5%;
    padding-right: 10px;
    font-size: 40px;
}