
.maincontaineraperture{
    display: flex;
    justify-content: space-between;
    background-color: #273469;
    color: #fafaff;

}

/* css aperture */

.Apertura {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Apertura:hover{
    background-color: #1e2749;
}


.aperturatitolo{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.prenotaunavisita ul{
    /**/
}

.aperturaprenota a{
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
    color: #fafaff;
}

.aperturaprenota a:hover{
    color: #fafaff;
}

/* css mappa */

.maincontainermappa{
    color: #30343f;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

.mappa{
    height: 400px;
    display: flex;
}

.mappagmaps{
    position: relative;
    width: 50%;
    height: 100%;
}


.mappaindicazionitestuali{
    display: flex;
    width: 50%;
}

.mappalocation{
    margin-top: 20px;
    color: #30343f;
    font-size: 60px;
}

.titoloindicazioni{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
}