.mainpagenavbarmenu{
    padding-left: 1%;
    padding-right: 1%;
    background-color: #1E2749;
}

.mainpagenavbar li:hover {
    background-color: #273469;
  }

  .nav-link{
    color: white;
  }

  .nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #fafaff;
    --bs-nav-link-hover-color: #fafaff;
    --bs-nav-link-disabled-color: red;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
