.topnavbar{
    background-color: #30343fff;
    color: #fafaff;
}

.titolosito{
    font-family: "Orbitron", sans-serif;
    background-color: trasparent;
    color: #fafaff;
}

.sottotitolosito{
    padding: 0;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: #fafaff;
}

.navbar a:hover{
    text-decoration: none;
    color: #e4d9ff;;
}

.navbar ul{
    list-style-type: none;
}