.topnavbar{
    background-color: #30343fff;
    color: #fafaff;
}

.navbar {
    position: relative;
}

.brand {
    position: absolute;
}

.titolo:hover {
    color: #fafaff;
}

.titolo{
    font-family: "Orbitron", sans-serif;
    color: #fafaff;
}

.topnavbarcontatti{
    position: absolute;
    right: 1%;
}

.topnavbarcontatti a{
    color: #fafaff;
    text-decoration: none;
}

.topnavbarcontatti a:hover{
    color: #fafaff;
    text-decoration: none;
}